#fondo {
  background-image: url(images/background.png);
  /*Para que el fondo sea degradado*/
  background-size: contain;
  width: 100%;
  position: relative;
  height: 100rem;
  padding-top: 4rem;
}

#fondoContenido {
  background-color: white;
  height: 80%;
  width: 920px;
  /*Espacio a la izquierda*/
  margin-left: 15%;
  /*Espacio de arriba*/
  margin-top: 0%;
  /*Espacio de abajo*/
  padding-bottom: 5%;
  /*Acomoda a la derecha*/
  float: left;
  /*Acomoda el contenido en filas*/
  display: flex;
  /*Justifica y centra*/
  justify-content: center;
  align-items: center;
}

#titulo{
    padding-left: 3rem;
    margin-top: 10px;
    color: darkgreen;
    font-width:bold;
}

#encabezado{
    background-image: url("images/banner.jpg");
    height: 250px;
    width: 880px;
    /*Espacio abajo*/
    margin-bottom: 75%;
    font-size: 30px;
    position: absolute;
}

.barra{
    width: 880px;
    height: 35px;
    background-color: #488000;
    position: absolute; 
    margin-bottom: 55%;
    display: flex;
}

.linkColor{
    color:white;
    text-decoration: none;
    text-align: justify;
    border-left: 1px solid white;
    padding:0px 10px 0px  10px;
}

.barra .linkColor{
    padding-top:8px;
    padding-bottom:5px;
}

.noticias{
    width: 200px;
    height: 55%;
    padding-right: 70%;
    padding-left: 22.5%;
    padding-top: 12.5%;
    position: absolute;
    margin: auto;
}

.noticias img{
    float:left;
}

.subtitulo{
    color:#488000;
}

p{
    text-align: justify;
}

.nr{
    font-size: medium;
}

h1{
    font-size: xx-large;
}

.relevantes{
    width: 200px;
    height: 60%;
    padding-right: 70%;
    padding-left: 22.5%;
    padding-top: 65%;
    position: absolute;
}

.relevantes img{
    float:left;
}

.articulo {
    width: 600px;
    height: 52.5%;
    padding-right: 5%;
    padding-left: 22.5%;
    padding-top: 12.5%;
    position: absolute;
}

.artParte2{
    padding-left: 23%;
    position: absolute;
    width: 400px;
}

.imgRana{
    width: 210px;
    height: 250px;
    /*Para que se pueda colocar texto al lado de la imagen*/
    float: left;
}

.piePagina{
    width: 880px;
    height: 35px;
    background-color: #488000;
    text-align: center;
    position: absolute;
    margin-top: 100%;
    padding-top:15px;
    padding-bottom:5px;
}

.piePagina .pie{
    color: #fff;
    border-right: 1px solid #fff;
    padding:0px 5px 0px  5px;
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    #encabezado {
        width: 100%;
        margin-bottom: 390%;
        margin-left: 20%;
        margin-right: 25%;
        text-align: justify;
    }
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    #titulo {
        font-size: large;
        padding-top: 30%;
    }
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    .barra {
        display: none;
    }
}


@media only screen and (max-width: 720px) { /* For mobile phones: */
    #fondoContenido {
        width: 35%;
        float: none;
        padding-left: 20%;
    }
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    .piePagina {
        display: none;
    }
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    .imgRana {
        width: 120px;
        height: auto;
        float: none;
    }
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    .noticias  {
        display: none;
    }
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    .relevantes  {
        display: none;
    }
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    .articulo{
        width: auto;
        margin: 0;
        font-size: x-small;
        padding-right: 44%;
    }
}

@media only screen and (max-width: 720px) { /* For mobile phones: */
    .artParte2{
        width: 140px;
        padding-left: 0%;
        padding-right: 100%;
    }
}
